services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    depends_on:
      - files-service
    networks:
      - app-network

  files-service:
    build:
      context: ./files-service
      dockerfile: Dockerfile
    container_name: files-service
    ports:
      - "8082:8082"
    volumes:
      - files-data:/app/files-data
    networks:
      - app-network

volumes:
  files-data:

networks:
  app-network:
    driver: bridge
