
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: les_constructions_dominic_cyr_app:latest
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: "default"
      JAVA_OPTS: "-Xms256m -Xmx512m"
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped

    # healthcheck:
    #   test: ["CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3