name: JUnit Coverage

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Run tests with coverage
        run: ./gradlew clean test jacocoTestReport --info

      - name: Upload JaCoCo HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: build/reports/jacoco/test/html

      - name: Print Coverage %
        run: |
          COVERAGE=$(grep -Po 'coverage[^0-9]*\K[0-9]+' build/reports/jacoco/test/jacocoTestReport.csv | head -1)
          echo "### Test Coverage: ${COVERAGE}% " >> $GITHUB_STEP_SUMMARY
